.credits-box {
        width: 700px;
        height: 450px;
        background-color: #000000;
        border: 2px solid #ffffff;
        border-radius: 10px;
        margin: 30px auto 0; 
	text-align: center;
	box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);
    }

h4 {
	margin-top: 50px;
}
