hr {
            border: none;
            border-top: 2px solid white; 
            margin: 15px auto; 
            width: 100px; 
            height: 1px; 
            border-radius: 5px; 
        }
