body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend';
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 10px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.menu a img {
    margin-right: 5px;
}

.menu a:hover {
    color: darkgray;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5em;
    color: white;
    text-align: center;
    margin-top: 10px;
}

h2, h3, h4, h5, h6, p {
    color: white;
    text-align: center;
}
