   ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background: rgba(136, 136, 136, 0.7);
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgba(85, 85, 85, 0.7);
        }

        ::-webkit-scrollbar-track {
            background: transparent;
        }

        body {
            scrollbar-width: thin;
            scrollbar-color: rgba(136, 136, 136, 0.7) transparent;
            margin: 0;
            padding: 10px;
        }
